<a href="https://colab.research.google.com/github/yogesh7132/Exploratory-Data-Analysis/blob/master/Covid19/Covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# import dataset
df = pd.read_csv("https://raw.githubusercontent.com/yogesh7132/Exploratory-Data-Analysis/master/Covid19/Dataset/Covid19India/covid_data.csv")

In [11]:
# dimensions of dataset
df.shape

(28183, 11)

In [13]:
df.head()

   numcases date announced age bracket gender  ... current status day month  year
0         1     30/01/2020          20      F  ...      Recovered  30     1  2020
1         1       2/2/2020         NaN    NaN  ...      Recovered   2     2  2020
2         1       3/2/2020         NaN    NaN  ...      Recovered   3     2  2020
3         1       2/3/2020          45      M  ...      Recovered   2     3  2020
4         1       2/3/2020          24      M  ...      Recovered   2     3  2020

[5 rows x 11 columns]

In [12]:
# brief info about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28183 entries, 0 to 28182
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   numcases           28183 non-null  int64
 1   date announced     28183 non-null  object
 2   age bracket        2346 non-null   object
 3   gender             5313 non-null   object
 4   detected city      2350 non-null   object
 5   detected district  21198 non-null  object
 6   detected state     28182 non-null  object
 7   current status     28183 non-null  object
 8   day                28183 non-null  int64
 9   month              28183 non-null  int64
 10  year               28183 non-null  int64
dtypes: int64(4), object(7)
memory usage: 2.4+ MB

In [19]:
# Inspect Null values in each column
round(df.isnull().sum().sort_values(ascending=False)/len(df) * 100 ,2)

age bracket          91.68
detected city        91.66
gender               81.15
detected district    24.78
detected state        0.00
year                  0.00
month                 0.00
day                   0.00
current status        0.00
date announced        0.00
numcases              0.00
dtype: float64

In [21]:
# Inspect Null values in each row
df.isnull().sum(axis=1).sort_values(ascending=False)

4375     5
28182    4
5847     4
5860     4
5859     4
        ..
5741     0
998      0
999      0
1000     0
0        0
Length: 28183, dtype: int64

In [24]:
df.groupby('month')['numcases'].sum()

month
1        1
2        2
3     1632
4    26256
Name: numcases, dtype: int64