<a href="https://colab.research.google.com/github/yogesh7132/Exploratory-Data-Analysis/blob/master/Covid19/Covid19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# import dataset
df = pd.read_csv("https://raw.githubusercontent.com/yogesh7132/Exploratory-Data-Analysis/master/Covid19/Dataset/covid_19_data.csv")

In [5]:
# dimensions of dataset
df.shape

(98252, 8)

In [10]:
df.head()

   SNo ObservationDate Province/State  ... Confirmed Deaths  Recovered
0    1      01/22/2020          Anhui  ...       1.0    0.0        0.0
1    2      01/22/2020        Beijing  ...      14.0    0.0        0.0
2    3      01/22/2020      Chongqing  ...       6.0    0.0        0.0
3    4      01/22/2020         Fujian  ...       1.0    0.0        0.0
4    5      01/22/2020          Gansu  ...       0.0    0.0        0.0

[5 rows x 8 columns]

In [7]:
# brief info about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98252 entries, 0 to 98251
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SNo              98252 non-null  int64
 1   ObservationDate  98252 non-null  object
 2   Province/State   67099 non-null  object
 3   Country/Region   98252 non-null  object
 4   Last Update      98252 non-null  object
 5   Confirmed        98252 non-null  float64
 6   Deaths           98252 non-null  float64
 7   Recovered        98252 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 6.0+ MB

In [8]:
# Null values in percentage
df.isnull().sum()/ df.shape[0] *100

SNo                 0.000000
ObservationDate     0.000000
Province/State     31.707243
Country/Region      0.000000
Last Update         0.000000
Confirmed           0.000000
Deaths              0.000000
Recovered           0.000000
dtype: float64